.firstTimeBooking{
    color: red;
}

.priceTable>*{
    border: 1px solid black;
}

.tableDetail>*{
    
}

.good{
    color: green;
    font-weight: bold;
}

.normal{
    color: #c49040;
    font-weight: 700;
}
