/* @extend display-flex; */

display-flex,
.display-flex,
.display-flex-center,
.signup-content,
.signin-content,
.social-login,
.socials {
    display: flex;
}


/* @extend list-type-ulli; */

list-type-ulli,
.socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:focus,
a:active {
    text-decoration: none;
    outline: none;
    transition: all 100ms ease 0s;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

p {
    margin-bottom: 0px;
    font-size: 25px;
    color: #777;
}

h1 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 50px;
}

.main {
    padding: 50px 0;
    background-image: url("../images/register.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    font-size: 30px;
    line-height: 1.8;
    color: #222;
    font-weight: 700;
    font-family: Poppins;
}

.container {
    width: auto;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.display-flex {
    justify-content: space-between;
    align-items: center;
}

.display-flex-center {
    justify-content: center;
    align-items: center;
}

.position-center {
    position: relative;
    top: 60%;
    left: 60%;
}

.signup {
    margin-top: 50px;
    margin-bottom: 20px;
}

.signup-content {
    padding: 100px 0;
}

.signup-form,
.signup-image,
.signin-form,
.signin-image {
    width: 50%;
    overflow: auto;
}

.signup-image {
    margin: 0 55px;
}

.form-title {
    margin-bottom: 33px;
}

.signup-image {
    margin-top: 45px;
}

figure {
    margin-bottom: 50px;
    text-align: center;
}

.form-submit {
    display: inline-block;
    background: orange;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

.form-submit:hover {
    background: green;
}

#signin {
    margin-top: 16px;
}

.signup-image-link {
    font-size: 14px;
    color: #222;
    display: block;
    text-align: center;
}

.term-service {
    font-size: 15px;
    color: #222;
}

.signup-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px;
}

.register-form {
    width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 15px;
}

.form-group:last-child {
    margin-bottom: 0px;
}

input {
    width: 100%;
    font-size: 30px;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    box-sizing: border-box;
}

input:hover {
    border-radius: 7px;
    border: 2px solid orange;
}

input:focus {
    border-radius: 7px;
    border: 2px solid orange;
}

input[type="checkbox"]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none;
}

input[type="checkbox"]:not(old)+label {
    display: inline-block;
    line-height: 1.5em;
    margin-top: 6px;
}

input[type="checkbox"]:not(old)+label>span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 2px solid #999;
    border-radius: 2px;
    background: white;
    vertical-align: bottom;
}

input[type="checkbox"]:not(old):checked+label>span {
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
}

input[type="checkbox"]:not(old):checked+label>span:before {
    content: "\f26b";
    display: block;
    color: #222;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
    font-family: "Material-Design-Iconic-Font";
    font-weight: bold;
}

.signin-form {
    margin-right: 90px;
    margin-left: 80px;
}

.signin-image {
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 10px;
}


/*# sourceMappingURL=style.css.map */