@import url("https://fonts.googleapis.com/css?family=Amarante");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    color: #585858;
    padding: 22px 10px;
    padding-bottom: 55px;
}

.main {
    padding: 50px 0;
    background-image: url("../images/wave.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

br {
    display: block;
    line-height: 1.6em;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

strong,
b {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-family: "Amarante", Tahoma, sans-serif;
    font-weight: bold;
    font-size: 3.6em;
    line-height: 1.7em;
    padding-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#wrapper {
    display: block;
    width: auto;
    background: #fff;
    margin: 0 auto;
    padding: 10px 17px;
}

#keywords {
    margin: 0 auto;
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-top: 7px;
}

#keywords thead {
    cursor: pointer;
    background: #c9dff0;
}

#keywords thead tr th {
    font-weight: bold;
    padding: 15px 30px;
    padding-left: 12px;
}

#keywords thead tr th span {
    font-size: 30px;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp,
#keywords thead tr th.headerSortDown {
    background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
    background-image: url("https://i.imgur.com/SP99ZPJ.png");
}

#keywords thead tr th.headerSortDown span {
    background-image: url("https://i.imgur.com/RkA9MBo.png");
}

#keywords tbody tr {
    color: #555;
}

#keywords tbody tr td {
    font-size: 20px;
    text-align: center;
    padding: 15px 10px;
}

#keywords tbody tr td.lalign {
    text-align: left;
}

.link{
    text-decoration: none;
}

td div {
    height: inherit;
    width: inherit;
    overflow: hidden;
    box-sizing: border-box;
}
td div img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    object-fit: fill;
}

.button-28 {
    background-color: transparent;
    border: 2px solid #1a1a1a;
    border-radius: 15px;
    box-sizing: border-box;
    color: #e0bb169c;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    outline: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 30%;
    will-change: transform;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: #fff;
    background-color: #16b0df86;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

.btn-group button {
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.2options input{
  padding: 10px;
  margin: 10px auto;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background: none;
  width: 150px;
  color: black;
}

.2options input:focus {
  outline: none;
}
span{
    display: none;
}
