* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

body {
    padding-top: 5rem;
    line-height: 1.8;
    color: #222;
    font-family: Poppins;
}

.main {
    padding: 50px 0;
    background-image: url("../images/user-profile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.ui-w-80 {
    width: 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(83, 158, 22, 0.432);
    background: rgba(194, 96, 5, 0.445);
    color: #e6a10ee3;
}

label.btn {
    margin-bottom: 0;
}

.form-label {
    font-size: 15px;
}

.btn-outline-primary {
    border-color: #e9a616;
    background: transparent;
    color: #e9a616;
}

.text-light {
    color: black;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
    padding-left: 10px 0;
}

.list-group {
    margin-top: 30px;
}

.account-settings-links a {
    font-size: 20px;
    overflow: hidden;
}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 3px;
    opacity: 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 80% !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 1.5rem 3rem;
    border-color: rgba(20, 182, 88, 0.836) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #e0ae09d8 !important;
}

.material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(20, 182, 88, 0.836) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #e0a80cec !important;
}

.dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(20, 182, 88, 0.836) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #d8a20cee !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #d8a20cee !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(20, 182, 88, 0.836) !important;
}

input[type="text"] {
    width: 100%;
    font-size: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
}

input[type="radio"] {
    transform: scale(1.5); 
    font-size: 30px;
    margin-left: 15px;
}